.hotel {
  color: #212a34;
}

.hotel__container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 80px 20px 40px 20px;
}

.hotel__btn_back {
  display: flex;
  align-items: center;
  gap: 3px;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.hotel__btn_back-icon {
  transition: 0.3s;
}

.hotel__btn_back:hover{
  color: #3CB371;
}

.hotel__btn_back:hover .hotel__btn_back-icon{
  fill: #3CB371;
}

.hotel__header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 0 0 0;
}

.hotel__description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hotel__title {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.hotel__address {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 3px;
}

.hotel__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hotel__like {

}

.hotel__review {
  font-weight: 600;
  font-size: 28px;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #3CB371;
  border-radius: 5px;
}

.hotel__info_interactive {
  display: flex;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0 30px 0;
}

.hotel__gallery {
  width: 75%;
}

.hotel__subtitle {
  margin: 0;
  font-size: 28px;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.hotel__gallery-container {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.hotel__gallery-images {
  display: flex;
  height: 500px;
  transition: 1s;
}

.hotel__gallery-btn {
  position: absolute;
  top: calc(50% - 22px);
  border: none;
  background-color: rgba(60, 179, 113, 0.6);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}

.hotel__gallery-btn:hover {
  background-color: #3CB371;
}

.hotel__gallery-btn:disabled:hover {
  background-color: rgba(60, 179, 113, 0.6);
  cursor: default;
}

.hotel__gallery-btn_left {
  left: 10px;
}

.hotel__gallery-btn_right {
  right: 10px;
}

.hotel__gallery-icon_right {
  transform: rotate(180deg);
}

.hotel__map {
  width: 25%;
}

.hotel__map-container {
  width: 100%;
  height: 500px;
}

.hotel__map-content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.hotel__cards {
  box-sizing: border-box;
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hotel__about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
}

.hotel__about-text {
  margin: 0;
  font-size: 18px;
}

.hotel__facilities {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 15px;
}

.hotel__facility {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 5px;
}
