.not-found {
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found__container {
  background: rgba(88, 193, 149, 0.28);
  border: 2px rgba(90, 188, 153, 0.49) solid;
  backdrop-filter: blur(10px);
  border-radius: 40px;
  padding: 48px 90px;
  box-sizing: border-box;
  font-size: 400px;
  font-weight: bold;
  color: #7AD6A2;
}

.not-found__text {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

.not-found__button {
  width: 100%;
  margin-top: 20px;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 0;
  border-radius: 10px;
  background: #7AD6A2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.not-found__button:hover {
  background: rgb(37, 110, 69);
}
