.booking {
  color: #212a34;
  position: relative;
}

.booking__container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 100px 20px 40px 20px;
  display: flex;
  gap: 25px;
}

.booking__sections {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.booking__info {
  background-color: #EDEDEDFF;
  padding: 25px;
  border-radius: 15px;
  display: flex;
}

.booking__about {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.booking__title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.booking__title-info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.booking__dates-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking__dates {
  display: flex;
}

.booking__date {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 50px;
  position: relative;
}

.booking__date_dash::before {
  content: "";
  background-color: #212a34;
  width: 20px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 10px);
}

.booking__day {
  font-weight: 600;
  font-size: 18px;
}

.booking__time {

}

.booking__adults {
  margin: 0;
  font-weight: 600;
}

.booking__room-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.booking__room-name {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.booking__room-beds {
  margin: 0;
  font-weight: 600;
}

.booking__beds {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.booking__review {
  box-sizing: border-box;
  padding: 3px 7px;
  background-color: #3CB371;
  border-radius: 5px;
}

.booking__gallery {
  width: 30%;
}

.booking__image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.booking__guest {
  background-color: #EDEDEDFF;
  padding: 25px;
  border-radius: 15px;
}

.booking__guest-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.booking__guest-booking {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  box-sizing: border-box;
  padding-top: 10px;
}

.booking__inputs {
  display: flex;
  gap: 15px;
  box-sizing: border-box;
  padding-top: 15px;
}

.booking__label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 2px;
}

.booking__input {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #212a34;
  background: none;
  transition: 0.2s;
}

.booking__input:focus {
  outline: none;
  border: 1px solid #3CB371;
}

.booking__payment {
  width: 25%;
  position: sticky;
  top: 100px;
  background-color: #EDEDEDFF;
  height: fit-content;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__pricing {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 0 0 70px;
}

.booking__pricing-title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.booking__pricing-container {
  display: flex;
  justify-content: space-between;
}

.booking__pricing-item {
  font-size: 16px;
  font-weight: 400;
}

.booking__total {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 0 0 0;
  border-top: 1px solid #3CB371;
}

.booking__price {
  font-weight: 700;
  font-size: 24px;
}

.booking__btn {
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  background-color: #3CB371;
  border-radius: 10px;
  padding: 10px 0;
  color: #fff;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.booking__btn:hover {
  background: rgb(37, 110, 69);
}
