.search {
  display: flex;
  height: 40px;
  padding: 20px;
  background: rgba(243, 243, 243, 0.6);
  border: 4px transparent solid;
  backdrop-filter: blur(6px);
  border-radius: 8px;
  transition: 0.4s;
}

.search_result {
  background: #EDEDEDFF;
  color: #212a34;
}

.search:focus-within {
  border: 4px #3CB371 solid;
}

.search__field {
  position: relative;
}

.search__input {
  height: 100%;
  border: none;
  padding: 0;
  background: none;
  color: #fff;
  width: 100%;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  color: #fff;
}

.search__input_result {
  color: #212a34;
}

.search__input_result::placeholder {
  color: #212a34;
}

.search__input_text {
  min-width: 250px;
}

.search__suggestions-container {
  position: absolute;
  top: 64px;
  left: -24px;
  width: calc(100% - 24px);
  background: rgba(243, 243, 243, 0.6);
  padding: 20px;
  border: 4px solid #3CB371;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.search__suggestions-container_result {
  background: #EDEDEDFF;
}

.search__suggestion {
  background: none;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  border-bottom: 2px solid #3CB371;
  padding: 7px 0;
  transition: 0.3s;
}

.search__suggestion_result {
  color: #212a34;
}

.search__suggestion:hover {
  transform: scale(103%);
}

.search__input_date {
  max-width: 120px;
  padding: 0 5px;
}

.search__input_date::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.search__input_number {
  max-width: 120px;
}

.search__button {
  text-decoration: none;
  background: #3CB371;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-left: 20px;
  padding: 10px 40px;
  cursor: pointer;
  transition: 0.3s;
}

.search__button:hover {
  background: rgb(37, 110, 69);
}
