.login {
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  background: rgba(88, 193, 149, 0.28);
  border: 2px rgba(90, 188, 153, 0.49) solid;
  backdrop-filter: blur(10px);
  border-radius: 40px;
  padding: 48px 90px;
  box-sizing: border-box;
  min-width: 600px;
}

.login__title {
  margin: 0;
  font-size: 38px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__label {
  box-sizing: border-box;
  padding: 30px 0 5px 0;
  font-weight: 300;
  font-size: 18px;
  width: 100%;
  text-align: left;
}

.login__input {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px 23px;
  border: 1px #BCBEC0 solid;
  color: #3a423a;
  transition: 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px #3CB371 solid;
}

.login__input::placeholder {
  color: #BCBEC0;
  font-weight: 300;
}

.login__submit {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 32px;
  font-size: 20px;
  padding: 12px 0;
  border-radius: 10px;
  background: #7AD6A2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.login__submit:hover {
  background: rgb(37, 110, 69);
}

.login__text {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.login__button {
  width: 150px;
  height: 50px;
  border: none;
  margin: 30px 0;
  border-radius: 10px;
  background: #fff url("../../assets/images/google.svg") no-repeat center;
  cursor: pointer;
  transition: 0.3s;
}

.login__button:hover {
  background-color: #e6e6e6;
}

.login__link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.login__link:hover {
  color: #e6e6e6;
}
