@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("./components/Loader/Loader.css");
@import url("./components/App/App.css");
@import url("./components/Main/Main.css");
@import url("./components/Carousel/Carousel.css");
@import url("./components/Wallpaper/Wallpaper.css");
@import url("./components/Search/Search.css");
@import url("./components/Header/Header.css");
@import url("./components/Login/Login.css");
@import url("./components/NotFound/NotFound.css");
@import url("./components/Result/Result.css");
@import url("./components/HotelCard/HotelCard.css");
@import url("./components/Hotel/Hotel.css");
@import url("./components/HotelImage/HotelImage.css");
@import url("./components/RoomCard/RoomCard.css");
@import url("./components/RoomImage/RoomImage.css");
@import url("./components/Booking/Booking.css");
@import url("./components/BookingPopup/BookingPopup.css");
@import url("./components/Profile/Profile.css");
@import url("./components/Bookings/Bookings.css");
@import url("./components/BookingCard/BookingCard.css");
@import url("./components/AdminPanel/AdminPanel.css");
@import url("./components/AdminPopup/AdminPopup.css");
@import url("./components/AdminCard/AdminCard.css");
